*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-bar{
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #21222A;
    min-height: 10vh;
}

.logoSection{
    display: flex;
    color: #00D8FF;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #21222A;
}

.fun-facts-list{
    background-color: #282D35;
    color:white;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
}
    

.fun-facts-header{
    font-size: 48px;
}

ul{
    text-decoration: none;
    font-size: 24px;
}

img{
    width: 90px;
    height: 90px;
    flex-grow: 2;
    display: inline;
}
